Xin chào,

Bạn đã yêu cầu đổi mật khẩu thông qua email {{ email }}.
Hãy truy cập đường dẫn bên dưới để thiết lập lại mật khẩu:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Trong trường hợp bạn quên tên tài khoản của diễn đàn: {{ user.username }}

khi bạn nhấp chuột vào đường dẫn bên trên mà đường dẫn không hoạt động, hãy sao chép
đường dẫn và dán vào thanh địa chỉ của trình duyệt.

Nếu bạn nhận được email báo lỗi, có nghĩa là ai đó đang cố gắng sử dụng email của bạn
để thiết lập lại mật khẩu. Nếu bạn không phải người yêu cầu thiết lập lại mật khẩu thì
bạn hãy bỏ qua email này.

Cảm ơn,

Ban quản trị diễn đàn.