{% extends "Layouts/layout_form.html" %}
{% block title %}
    LOGIN
{% endblock %}
{% block contents %}


<div class="row m-0 py-5 rounded box-form align-items-center justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 p-4 rounded shadow position-relative"
         style="backdrop-filter: blur(30px);background-color: #e5e5e529;">
        <a href="/" class="position-absolute text-dark" style="top: 20px;left:24px"><i class="fas fa-home"
                                                                                       style="font-size: 24px;"></i></a>
        <h1 class="text-uppercase text-center text-light text-bold">Password changed!</h1>
        <div class="alert alert-success" role="alert">
            You have successfully changed your password! You may now proceed to log in.
        </div>
        <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to log in</a>
    </div>
</div>
{% endblock %}